#icon {
  height: 35px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.album-title {
  font-weight: 800;
  margin-bottom: 0px;
}

.album-artist {
  margin-top: 0px;
  font-size: 70%;
}

.album-rating {
  color: rgb(200, 160, 48);
}

.album-release {
  color: gray;
}

.album-bar {
  font-weight: 1000;
  color: rgb(200, 160, 48);
}

.album-price {
  font-weight: 800;
}

#hero-img {
  margin: 0px;
  padding: 0px;
}

#hero-section {
  position: relative;
}

#hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
}

.card-title {
  font-size: 16px;
}
